In [1]:
cloudLocation_AllMyFiles='https://github.com/dghnyldz/computational-thinking/raw/main/'

In [2]:
linkToEXCEL_File=cloudLocation_AllMyFiles+'csvData_co2.xlsx'

In [3]:
pip show pandas

Name: pandas
Version: 1.3.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\dagha\anaconda3\lib\site-packages
Requires: python-dateutil, numpy, pytz
Required-by: statsmodels, seaborn, pyreadstat
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip show openpyxl

Name: openpyxl
Version: 3.0.9
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: c:\users\dagha\anaconda3\lib\site-packages
Requires: et-xmlfile
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [5]:
dfExcel=pandas.read_excel(linkToEXCEL_File)

NameError: name 'pandas' is not defined

In [6]:
import pandas as pd # activating pandas

In [7]:
dfExcel=pd.read_excel(linkToEXCEL_File)

In [8]:
type(dfExcel)

pandas.core.frame.DataFrame

In [9]:
dfExcel

               country  totalCO2emission      pop2021
0                CHINA           2806634  1444216.107
1        UNITED STATES           1432855   332915.073
2                INDIA            610411  1393409.038
3               RUSSIA            465052   145912.025
4                JAPAN            331074   126050.804
..                 ...               ...          ...
212         MONTSERRAT                13        4.977
213      LIECHTENSTEIN                12       38.250
214  WALLIS AND FUTUNA                 6       11.094
215             TUVALU                 3       11.931
216               NIUE                 3        1.619

[217 rows x 3 columns]

In [10]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/Democracy_Index" 
IFrame(wikiLink, width=700, height=300)

In [11]:
dataWIKI=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable'})

In [12]:
type(dataWIKI)

list

In [13]:
len(dataWIKI)

6

In [14]:
dataWIKI[5]

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank,Country,Regime type,Overall score,Δ Score,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.81,0.06,10.00,9.64,10.00,10.00,9.41
2,2,NaN,Iceland,Full democracy,9.37,0.21,10.00,8.57,8.89,10.00,9.41
3,3,NaN,Sweden,Full democracy,9.26,0.13,9.58,9.29,8.33,10.00,9.12
4,4,NaN,New Zealand,Full democracy,9.25,0.01,10.00,8.93,8.89,8.75,9.71
...,...,...,...,...,...,...,...,...,...,...,...
166,163,NaN,Chad,Authoritarian,1.55,0.06,0.00,0.00,1.67,3.75,2.35
167,164,NaN,Syria,Authoritarian,1.43,NaN,0.00,0.00,2.78,4.38,0.00
168,165,NaN,Central African Republic,Authoritarian,1.32,NaN,1.25,0.00,1.11,1.88,2.35
169,166,NaN,Democratic Republic of the Congo,Authoritarian,1.13,NaN,0.00,0.00,1.67,3.13,0.88
170,167,NaN,North Korea,Authoritarian,1.08,NaN,0.00,2.50,1.67,1.25,0.00

In [15]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/List_of_freedom_indices" 
IFrame(wikiLink, width=900, height=500)

In [16]:
import pandas as pd

wikiTables=pd.read_html(wikiLink, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'wikitable sortable'}) # attributes to identify element(s)

In [17]:
wikiTables[0]

,Country,Freedom in the World 2021[11],2021 Index of Economic Freedom[12],2021 Press Freedom Index[3],2020 Democracy Index[15]
0,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
1,Albania,partly free,moderately free,noticeable problems,flawed democracy
2,Algeria,not free,repressed,difficult situation,authoritarian regime
3,Andorra,free,NaN,satisfactory situation,NaN
4,Angola,not free,mostly unfree,noticeable problems,authoritarian regime
...,...,...,...,...,...
192,Venezuela,not free,repressed,difficult situation,authoritarian regime
193,Vietnam,not free,moderately free,very serious situation,authoritarian regime
194,Yemen,not free,NaN,very serious situation,authoritarian regime
195,Zambia,partly free,mostly unfree,difficult situation,hybrid regime
196,Zimbabwe,not free,repressed,difficult situation,authoritarian regime